.background-gradient {
  &__contact-gradients {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(100px);
  }

  &__gradients-1 {
    width: 700px;
    height: 400px;
    background: rgba(0, 102, 255, 5%);
    transform: rotate(33deg);
    position: absolute;
  }

  &__gradients-2 {
    width: 700px;
    height: 400px;
    background: rgba(0, 102, 255, 5%);
    transform: rotate(33deg);
    position: absolute;
  }

  &__gradients-3 {
    width: 1100px;
    height: 200px;
    background: rgba(255, 13, 65, 9%);
    transform: rotate(131deg);
    position: absolute;
  }
}
