.back-button {
  border-radius: 10px;
  background: rgba(242, 247, 251, 8%);
  border: 1px solid rgba(242, 247, 251, 0.4);
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 36px;
  height: 36px;
  justify-content: center;
  cursor: pointer;
  &__left-arrow {
    width: 20px;
    height: 20px;
    stroke: rgba(242, 247, 251, 0.85);
  }
}
@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}
